body {
    background: rgb(0, 255, 64);
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border:  solid rgb(255, 255, 255);
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: rgb(255, 255, 0);
}